<mat-form-field floatLabel="always" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <!-- For type="date" -->
  <input matInput
         *ngIf="type === 'date'; else otherInput"
         [formControl]="control"
         [type]="'text'"
         [placeholder]="placeholder"
         [required]="isRequired"
         (blur)="onTouched()"
         [matDatepicker]="picker" />
  <mat-datepicker-toggle *ngIf="type === 'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <!-- Template block to handle other types -->
  <ng-template #otherInput>
    
    <!-- For type="select" -->
    <mat-select
      *ngIf="type === 'select'; else normalInput"
      [formControl]="control"
      [required]="isRequired"
      (blur)="onTouched()"
    >
      <mat-option value="" disabled selected>{{ placeholder }}</mat-option>
      <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
    </mat-select>

    <!-- For text/number/etc -->
    <ng-template #normalInput>
      <input matInput
             [formControl]="control"
             [type]="type"
             [placeholder]="placeholder"
             [required]="isRequired"
             [minLength]="minLength"
             [maxLength]="maxLength"
             (blur)="onTouched()" />
    </ng-template>
  </ng-template>

  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-form-field>

